.git
.github
.idea
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.egg-info
build
dist
docs/_build
.coverage
.coverage.*
htmlcov
.env
.venv
env
venv
stan_dask_chart
stan_ray_chart
tests
